Package: com.thelone3agle.altair
Name: Altair
Version: 2.2.5
Architecture: iphoneos-arm
Description: Windows 10 like music player widget for XenHTML
Maintainer: TheLone3agle <thelone3agle@gmail.com>
Depends: firmware (>= 10.0), com.matchstic.xenhtml
Author: TheLone3agle <thelone3agle@gmail.com>
Section: Widgets
